GIT_REPO=https://github.com/weiss-controls/weiss.git
VITE_APP_VERSION=1.0.0
VITE_DEMO_MODE=true

# EPICS environment settings
EPICS_DEFAULT_PROTOCOL="pva"
EPICS_CA_ADDR_LIST="localhost"
EPICS_CA_AUTO_ADDR_LIST="YES"
EPICS_CA_MAX_ARRAY_BYTES="1000000"
EPICS_PVA_ADDR_LIST="localhost"
EPICS_PVA_AUTO_ADDR_LIST="YES"

# HTTPS settings
ENABLE_HTTPS=false
SSL_CERT_FILE="./nginx/certs/example-fullchain.pem"
SSL_KEY_FILE="./nginx/certs/example-privkey.pem"
APP_HOSTNAME="localhost"

### API settings
TECHNICAL_ACCOUNT_TOKEN=
# used for commit identity - use dummy if desired
TECHNICAL_ACCOUNT_USERNAME="weiss-bot"
TECHNICAL_ACCOUNT_EMAIL="weiss-bot@example.com"

# Microsoft Auth
MS_AUTH_CLIENT_ID="your-ms-client-id-here"
MS_AUTH_TENANT_ID="your-ms-tenant-id-here"
MS_AUTH_CLIENT_SECRET="your-ms-client-secret-here"

# Documentation
# uncomment the following serve docs (requires docs/docker-compose.yml to be running)
# DOCS_HOSTNAME="docs.example.com" 
