## Build artifacts
node_modules/
build/
_build/
dist
*.local
.pnpm-store
__pycache__
.ruff_cache/
*.egg-info/
dist/*

## Development environment
.venv/
.vscode/
stats.html
/storage
*.log

# Secrets and sensitive data
.env
roles.toml
/nginx/certs/*.pem
!/nginx/certs/example-*.pem
